/* view-all-results.component.css */

.results-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .add-button {
    position: fixed;
    background-color:yellowgreen;
    color: black;
    right: 20px;
  }
  